<div class="imdt-table-widgets">
  <div class="imdt-table-widgets-outlet">
    {{yield this}}
  </div>

  {{#if searchable}}
    {{partial searchTemplate}}
  {{/if}}
</div>

<table class={{tableClassNames}}>
  <thead>
    <tr>
      {{#each processedColumns as |column|}}
        {{#if sortable}}
          <th class="{{if column.isSortable 'sort' 'no-sort'}}
                  {{if column.isAsc 'sort-asc'}}
                  {{if column.isDesc 'sort-desc'}}
                  {{column.className}}" onclick={{action "sort" column}}>
            {{column.columnTitle}}
          </th>
        {{else}}
          <th class="{{column.className}}"}}>
            {{{column.columnTitle}}}
          </th>
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#if processedContent.length}}
      {{#each processedContent as |record|}}
        <tr>
          {{#each processedColumns as |column|}}
            {{#if column.isVisible}}
              <td class={{column.className}}>
                {{#if column.template}}
                  {{partial column.template}}
                {{else}}
                  {{{get record column.contentPath}}}
                {{/if}}
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    {{else}}
      <tr><td colspan={{processedColumns.length}}>{{{messages.emptyTable}}}</td></tr>
    {{/if}}
  </tbody>
</table>

{{#if paginable}}
  {{partial paginationTemplate}}
{{/if}}
