<ul class="imdt-table-pagination-numeric">
  {{#if goToBackEnabled}}
    <li class="previous">
      <span {{action "gotoPrevPage"}}>
        {{{messages.pagination.prev}}}
      </span>
    </li>
  {{/if}}

  {{#each visiblePageNumbers.prevPages as |page|}}
    <li>
      <span {{action "gotoPage" page}}>
        {{page}}
      </span>
    </li>
  {{/each}}

  <li class="active"><span>{{currentPageNumber}}</span></li>

  {{#each visiblePageNumbers.nextPages as |page|}}
    <li>
      <span {{action "gotoPage" page}}>
        {{page}}
      </span>
    </li>
  {{/each}}

  {{#if gotoForwardEnabled}}
    <li class="next">
      <span {{action "gotoNextPage"}}>
        {{{messages.pagination.next}}}
      </span>
    </li>
  {{/if}}
</ul>
