<ul class="pagination imdt-table-pagination-simple">
  {{#if gotoBackEnabled}}
    <li class="first">
      <span {{action "gotoFirstPage"}}>
        {{{messages.pagination.first}}}
      </span>
    </li>
    <li class="previous">
      <span {{action "gotoPrevPage"}}>
        {{{messages.pagination.prev}}}
      </span>
    </li>
  {{/if}}
  {{#if gotoForwardEnabled}}
    <li class="next">
      <span {{action "gotoNextPage"}}>
        {{{messages.pagination.next}}}
      </span>
    </li>
    <li class="last">
      <span {{action "gotoLastPage"}}>
        {{{messages.pagination.last}}}
      </span>
    </li>
  {{/if}}
</ul>
